{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container pt-2 pb-3">
    <h4>{% trans "About page" %}</h4>
    <br />
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
    <h5>Header</h5>
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
    <h5>Header</h5>
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
    <p>Lorem ipsum dolor sit amet, his et probo consul dolorem, mel meliore offendit explicari ad. Nam agam case ei, no vel sanctus propriae, oratio iuvaret corpora id eam. Pri id dicat dolor omnes, per idque labitur persecuti in. Ea usu impedit scripserit, ne vix erat partem. Sea ne liber nobis mandamus, sea et movet menandri argumentum. Ea minim contentiones sit.</p>
</div>
{% endblock content %}
