{% load i18n %}
{% load static %}
{% load language_selector %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="Jon Lee Personal Site">
        <meta name="author" content="Jon Lee">
        <!-- Site title -->
        <title>Jon Lee</title>
        <!-- Responsive resizing -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class="container-fluid">

            <div class="row">

                <!-- Side navbar -->
                <div class="col-2 py-5 bg-white text-center">

                        <!-- Page links -->
                        <ul class="navbar-nav">

                            <!-- !!! FIX IMAGE LINK !!! -->
                            <img class="profile-image mb-3 rounded-circle mx-auto" src="../static/img/profile.jpeg" alt="Profile image" >

                            <h5>
                                <li {% if request.resolver_match.url_name == 'home' %}class="nav-item active"{% endif %}>
                                    <a class="nav-link mx-2" href="{% url 'home' %}">{% trans "Home" %}</a>
                                </li>
                            </h5>
                            <h5>
                                <li {% if request.resolver_match.url_name == 'about' %}class="nav-item active"{% endif %}>
                                    <a class="nav-link mx-2" href="{% url 'about' %}">{% trans "About" %}</a>
                                </li>
                            </h5>
                            <h5>
                                <li {% if request.resolver_match.url_name == 'translation' %}class="nav-item active"{% endif %}>
                                    <a class="nav-link mx-2" href="{% url 'translation' %}">{% trans "Translation" %}</a>
                                </li>
                            </h5>
                            <h5>
                                <li {% if request.resolver_match.url_name == 'coding' %}class="nav-item active"{% endif %}>
                                    <a class="nav-link mx-2" href="{% url 'coding' %}">{% trans "Coding" %}</a>
                                </li>
                            </h5>
                            <h5>
                                <li {% if request.resolver_match.url_name == 'blog' %}class="nav-item active"{% endif %}>
                                    <a class="nav-link mx-2" href="{% url 'blog' %}">{% trans "Blog" %}</a>
                                </li>
                            </h5>
                        </ul>

                        <div class="pt-3">
                            <!-- Language switching button -->
                            {% get_current_language as LANGUAGE_CODE %}
                            <form action="{% url 'set_language' %}" method="post" id="form_{{ LANGUAGE_CODE|new_lang_code }}" >
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <input name="language" type="hidden" value="{{ LANGUAGE_CODE|new_lang_code }}" />
                            </form>
                            <button class="btn btn-outline-primary" type="submit" form="form_{{ LANGUAGE_CODE|new_lang_code }}" value="Submit">{{ LANGUAGE_CODE|new_lang_name }}</button>
                        </div>

                </div> <!-- Side navbar end -->

                <!-- Main body structure: three columns with a 2-8-2 layout -->
                <div class="col-8 py-5 bg-white">
                    {% block content %}
                    {% endblock content %}
                </div>

            </div> <!-- Row end -->
        </div> <!-- Container end -->

    <!-- JavaScript required for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
